*{
    padding: 0px;
    margin: 0px;
}
ul,li,ol{
    list-style: none;
}
.logo1{
    height:127px; 
    width:750px;
    text-align: center;
}
.logo2{
    text-align: center;
}
.logo3{
    height: 120px;
    width:750px;
}
.a{
    padding-top: 28px;
    margin-bottom: 26px;
    margin-left: 47px;
    margin-right: 0px;
    height:66px;
    width:228px;
    float: left;
}
.b{
    margin-top:28px;
    margin-left:185px;
    margin-bottom: 26px;
    margin-right:45px;
    background-color: #e8420a;
    height:55px;
    width:165px;
    float:left;
    border-radius: 10px;
}
.c{
    font-size:28px;     
    color:#fefefe;
    font-family:'黑体';
    text-align: center;
    padding-top: 10px;
}

.d{
    float:left;
    margin-top:28px;
    height:92px; 
    width:80px;
    background-color: white;
}

.f{
    margin-top: 0px;
    margin-bottom:2px;
    margin-right: 40px
}
.e{
    width:750px;
    height:365px;
    background:url(../images/17.png);
}
.g{
    width: 160px;
    height: 40px;
    font-size: 40px;
    margin-left:297px;
    padding-top:92px;
    color:white;
}
.h{
    width:670px; 
    height:170px;
    padding-left:40px;
    padding-top:40px; 
}
.i{
    width:327px;
    height:80px;
    float:left;
    background-color:#21467f;
    background-position:80% 70%;
    background-repeat :no-repeat;
    border-radius: 10px;
}
.j{
    width:327px;
    height:80px;
    float:right;
    background-color:#21467f;
    margin-left:15px;
    background-position:80% 70%;
    background-repeat :no-repeat;
    border-radius: 10px;
}
.k{
    width:666px; 
    height:80px;
    background-color:#21467f;
    margin-top:90px;
    border-radius: 10px;
}
.l{
    padding-left:6px;
    padding-top: 5px;
}
.m{
    padding-left:6px;
    padding-top: 5px;
}
.n{
    width:653px; 
    height:67px;
    padding-top:5px; 
    padding-left:4px;
}
.o{
    width:35px; 
    height:35px;
    padding-top:20px; 
    padding-left:570px;
}
.s{
    width:750px; 
    height:30px;
    margin-top:63px;
}
.q{
    margin-left: 41px;
    float:left;
    margin-top: 4px;
}
.w1{
    width:120px; 
    height:30px;
    float:left;
    margin-left: 20px;
    font-size: 28px; 
}
.biankuang1{
    width:668px; 
    height:88px;
}
.biankuang{
    width: 668px;
    height: 84px;
    margin-top: 24px;
    margin-left: 44px;
    border-style : solid;
    border-color:#cbcbcb;
}
.nav p{
    float:left;
}
.nav p a{
    line-height:84px;  
    margin-left:20px;
    margin-right: 30px;
    font-size:24px;
    color: black;
    text-decoration:none;
}
.nav1 p{
    float:left;
}
.nav1 p a{
    line-height:84px;  
    margin-left:21px;
    margin-right: 17px;
    font-size:24px;
    color: black;
    text-decoration:none;
}
.nav2 p{
    float:left;
}
.nav2 p a{
    line-height:75px;  
    text-align:center;
    font-size:24px;
    margin-left:30px;
    color: #666666;
    text-decoration:none;
}
.biankuang1{
    width: 668px;
    height: 84px;
    margin-top: 0px;
    margin-left: 44px;
    border-style : solid;
    border-top-style: none;
    border-color:#cbcbcb;
}
.biankuang2{
    width: 668px;
    height: 236px;
    margin-top: 0px;
    margin-left: 44px;
    border-style : solid;
    border-top-style: none;
    border-color:#cbcbcb;
}
.nav6 p{
    float:left;
}
.nav6 p a{
    line-height:84px;  
    margin-left:13px;
    margin-right: 18px;
    font-size:24px;
    color: black;
    text-decoration:none;
}
.a1{
    margin-top:30px;
}
.b2{
    margin-left:0px;
    margin-right:0px;
    float:left;
    width: 105px;
    height:85px;
    background-color: #f5f5f5;
    font-size:24px;
    text-align:center;
}
.a2{
    margin-top:30px;
    margin-left:10px;
    margin-right:18px;
}
.b3{
    margin-left:0px;
    margin-right:0px;
    float:left;
    width: 105px;
    height:85px;
    background-color: #f5f5f5;
    font-size:24px;
    text-align:center;
}
.nav3{
    line-height:82px;  
    margin-left: 30px;
    font-size: 24px;
    float: left;
}
.nav4{
    line-height:82px;  
    margin-left: 288px;
    font-size: 24px;
    float: left;
}
.nav5{
    line-height:82px;  
    margin-left: 31px;
    font-size: 24px;
    float: left;
}
.d1{
    width:750px;
    height:265px;
}
.d2{
    width:218px;
    height:182px;
    padding-left:43px;
    padding-top:44px;
    float:left;
}
.d3{
    width:425px;
    height:180px;
    padding-top:40px;
    padding-left:27px;
    float:left;
}
.d4{
    font-size:24px;
}
.d5{
    font-size:20px;
}
.e2{
    padding-left:40px;
}
.e3{
    width:750px;
    height:80px;
}
.yema{  
    border:1px;
    width: 52px;
    height: 52px;
    border-radius: 10px;    
    text-align:center;
    line-height:52px;  
    margin-top: 80px;
    margin-left:108px;
    margin-bottom: 138px;
    float:left; 
    border-style: solid;
    border-color:#d8d8d8;
}
.yema1{ 
    border:1px;
    width: 52px;
    height: 52px;
    border-radius: 10px;    
    text-align:center;
    line-height:52px;  
    margin-top: 80px;
    margin-left:10px;
    margin-bottom: 138px;
    float:left; 
    border-style: solid;
    border-color:#d8d8d8;
}
.yema a{
    color: black;
    font-size:26px;
    text-decoration:none;
}
.yema1 a{
    color: black;
    font-size:26px;
    text-decoration:none;
}
.yema2{ 
    border:1px;
    width: 103px;
    height: 52px;
    border-radius: 10px;    
    text-align:center;
    line-height:52px;  
    margin-top: 80px;
    margin-left:10px;
    margin-bottom: 138px;
    float:left; 
    border-style: solid;
    border-color:#d8d8d8;
}
.yema2 a{
    color: black;
    font-size:26px;
    text-decoration:none;
}
.f1{
    width:750px;
    height:20px;
    background-color:#f5f5f5;
    margin-top:230px;
}
.e8{
    width:750px;
    height:35px;
}
.e4{
    position: relative;
    overflow: hidden;
    width:669px;
    height:398px;
    margin-left:40px;
}
.e5{
    display: inline-block;
/*    width:260px;
    height:345px;*/
    font-size:26px;
    position: absolute;
    left: 165px;
    top:345px;
    color: white;
    font-size:26px;

}
.e6{
    position: absolute;
    top:0px;
    left: 0px;
}
.e7{
    display: inline-block;
/*    width:14px;
    height:19px;*/
    position: absolute;
    left: 425px;
    top:355px;
    color: white;
    font-size:20px;
}
.f3{
    display: inline-block;
/*    width:87px;
    height:28px;*/
    position: absolute;
    left: 438px;
    top:345px;
    color: white;
    font-size:30px;
}
.r{
    width:750px;
    height:20px;
    background-color:#f5f5f5;
    margin-top: 232px;
}
.f2{
    display: inline-block;
/*    width:58px;
    height:20px;*/
    position: absolute;
    left: 515px;
    top:355px;
    color: white;
    font-size:20px;

}
.f5{
    width:750px;
    height:40px;
}
.f6{
    width: 230px;
    height:55px;
    margin-left: 293px;
}
.r1{
    width:750px;
    height:20px;
    background-color:#f5f5f5;
    margin-top: 0px;
}
.r2{
    width:750px;
    height:210px;
}
.mowei{
    border-style: solid;
    border-color: white;
    text-align:center;
    width: 750px;
    height: 482px;
    margin-top: 272px;
    background-color: #343235;
}
.mowei1{
    border:5px;
    border-style: solid;
    border-color:#939293;
    width: 667px;
    height: 108px;
    margin-top: 66px;
    margin-left: 30px;
    background-color:#343235;
}
.mowei p{
    color: #ededed;
}
.mowei2{
    width: 667px;
    height: 190px;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 22px;
}